<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Chargement - ExoMaster</title>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.18.1/full/pyodide.js"></script>
  @viteReactRefresh()
  @inertiaHead()
  @routes()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`, 'resources/css/app.css'])
</head>

<body class="bg-black h-full dark">
  @inertia()
</body>

<script>
      // Check if the user prefers dark mode
        document.body.classList.add('dark');

</script>
</html>

